@charset "UTF-8";
/*Paleta de colores*/
/*Tamaños de fuentes e iconos*/
/*Resoluciones de pantallas*/
/*Separaciones (margenes y paddings)*/
/*Fuente*/
/*MIXINS*/
/*BOLSITAS DE CODIGO*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/vintage-wood-texture-background-1549438.jpg);
  color: rgb(3, 3, 3);
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

header {
  top: 0;
  background-color: rgb(27, 26, 26);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

img {
  width: 100%;
}

.menu li {
  display: inline-flex;
  margin: 4px;
}

.logo {
  width: 200px;
}

.banner {
  background-image: url(../img/habilitacion-peluqueria-barberia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 430px;
  width: 100%;
}

.foto_intro {
  width: 100%;
  height: 400px;
}

.card {
  background: rgba(149, 146, 146, 0.336);
  padding: 6px 30px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.card:hover {
  background: rgba(255, 255, 255, 0.575);
}

nav.navbar .navbar-expand-lg {
  width: 100%;
}

a.nav-link {
  color: white;
}

a.nav-link.active {
  color: white;
}

div#navbarNavAltMarkup {
  flex-direction: row;
}

nav.navbar.navbar-expand-lg.bg-dark {
  position: sticky;
  z-index: 1;
  top: 0;
}

.foto_intro {
  width: 100%;
  height: 400px;
}

.titulos {
  font-family: "Abril Fatface", bold;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
}

.comentario {
  padding: auto;
  gap: 20px;
}

p.parr_intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parr_intro {
  margin: 50px;
  border-radius: 25px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.416);
}

.card.card-intro {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

label {
  font-size: large;
}

.turn_index {
  background-color: black;
  min-width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.contenido {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  gap: 20px;
}
.contenido img {
  width: 100vh;
}

form {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
}

.formulario {
  margin: 10px;
  border-radius: 25px;
  padding: 20px;
  background: rgba(161, 153, 66, 0.562);
  display: flex;
  flex-direction: column;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.galeria-container {
  background-color: rgba(255, 255, 255, 0.416);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 10px;
  gap: 10px;
  object-fit: cover;
}

.galeria__img {
  width: 100%;
  height: 100%;
  padding: 2px;
  margin: 5px;
  align-self: start;
  justify-self: stretch;
  object-fit: cover;
}

@media (min-width: 768px) {
  .galeria-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
    align-items: stretch;
    object-fit: cover;
  }
}
@media (min-width: 992px) {
  .galeria-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 14px 15px;
    object-fit: cover;
    align-items: stretch;
  }
}
footer {
  bottom: 0 auto;
  width: 100%;
  height: 150px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.titulos-footer {
  margin-top: 20px;
}

.icono-redes {
  width: 30px;
}

.padre-redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.whatsapp {
  width: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.padre-cards {
  background-color: rgba(255, 255, 255, 0.429);
  padding: 20px;
  width: 300px;
  height: 600px;
  max-width: 100%;
  border: solid 5px rgb(92, 90, 90);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.card-body {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.all-cards {
  align-items: center;
}

@media (min-width: 768px) {
  .all-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media (min-width: 992px) {
  .all-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
article {
  margin: 50px;
  border-radius: 25px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.416);
}

.turnos {
  display: flex;
  margin-top: 2px;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 992px) {
  section.formularios {
    width: 200px;
  }
}
.contactos {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 30px;
}

.info {
  margin: 8px;
  border-radius: 25px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.416);
}

/*# sourceMappingURL=styles.css.map */
