* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-image: url(../img/fondo2.jpg);
    color: rgb(3, 3, 3);
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    color: $color-secundario;
    @include flex-columna;
}
