.turnos {
    display: flex;
    margin-top: 2px;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: $desktop){
    section.formularios {
        width: 200px;
    }  
}